@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --MontserratAlternates:  'Montserrat Alternates', sans-serif;
    --NotoSerif:  'Noto Serif', serif;
}

body {
    background: #038B45;
    font-family: var(--NotoSerif);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header div {
    background: #FFFFFFEE;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    animation: sucesso 2s both;
    display: none;
}

@keyframes sucesso {
    from {
        top: -70px;
    }
    to {
        top: 20px;
    }
}

header div p {
   font-weight: 600;
}

#main {
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    display: none;
}

.loading .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #000;
    border-top-color: #1b2f25;
    animation: spinner 0.7s infinite linear;
    border-radius: 50%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
    from {
        transform: rotate(0deg);
    }
}

#containerHome {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: #FFFFFFEE;
    height: 500px;
    border-radius: 10px;
    padding: 20px 0 40px;
}

main img.logo {
    width: 200px;
}

.containerBotaoLogin {
    height: 230px;
}

#containerlogin {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 300px;
}

#botaoLogin {
    background: #038B45;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: #EBEBEB;
    font: 400 20px var(--NotoSerif);
    cursor: pointer;
}

#inputsLogin {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 20px;
    animation: aparecer 0.5s;
    align-items: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#inputsLogin .containerInput {
    display: flex;
    width: 90%;
    border-radius: 5px;
}

#inputsLogin .containerInput div {
    width: 40px;
    background: #E9E9E9;
    border: 1px solid #C1C1C1;
    border-left-width: 0px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputsLogin .containerInput img {
    width: 20px;
}
    
#inputsLogin input {
    background: #EBEBEB;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    height: 50px;
    color: #121212; 
    padding: 0 10px;
    font: 400 15px var(--NotoSerif);
    width: 100%;
    margin: auto;
    border: 1px solid #C1C1C1;
    /* text-transform: uppercase; */
}

#inputsLogin button {
    background: #038B4580;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font: 400 15px var(--NotoSerif);
    cursor: pointer;
    margin: auto;
}

#inputsLogin #criarNovaConta {
    background: #12121280;
}

#inputsLogin #acessarConta:hover {   
    background: #038B45;
    transition: all 0.3s;
}

#inputsLogin #criarNovaConta:hover {
    background: #121212;
    transition: all 0.3s;
}

#inputsCriar {
    display: none;
    margin-top: 15px;
    flex-direction: column;
    gap: 20px;
    animation: aparecer 0.5s;
    align-items: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
#inputsCriar input {
    background: #EBEBEB;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    height: 50px;
    color: #121212; 
    padding: 0 10px;
    font: 400 15px var(--NotoSerif);
    width: 90%;
    margin: auto;
    border: 1px solid #C1C1C1;
    /* text-transform: uppercase; */
}

#inputsCriar button, #inputsCriar #cadastrarConta {
    background: #038B4580;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font: 400 15px var(--NotoSerif);
    cursor: pointer;
    margin: auto;
}

#inputsCriar .containerInput {
    display: flex;
    width: 90%;
    border-radius: 5px;
}

#inputsCriar .containerInput div {
    width: 40px;
    background: #E9E9E9;
    border: 1px solid #C1C1C1;
    border-left-width: 0px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputsCriar .containerInput img {
    width: 20px;
}
    




#inputsCriar #possuiConta {
    background: #12121280;
}

#inputsCriar #cadastrarConta:hover {   
    background: #038B45;
    transition: all 0.3s;
}

#inputsCriar #possuiConta:hover {
    background: #121212;
    transition: all 0.3s;
}